numpy>=1.18.1
scipy>=1.4.1
scikit-learn>=0.16.2  # evaluation, f1-score etc
scikit-image>=0.22.1  # watershed, flood-fill
cudatoolkit>=10.0.130
torch>=1.2.0
torchvision>=0.4.0
tensorboard>=2.1.0
zlib>=1.2.11
libspatialindex>=1.9.3  # for trimesh
shapely>=1.7.0  # for trimesh
rtree>=0.9.4  # for trimesh
trimesh>=3.5.24  # signed distance
tqdm>=4.43.0  # progress bar